<div class="modal fade" id="add-api-table-record-modal" role="dialog" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h3 class="modal-title text-center">New API Table Record</h3>
			</div>
			<div class="modal-body">
				<form method="post" action="/api/addApiTableRecord">
					<p><input name="id" type="hidden" value="<%= apiTable.id %>"/></p>
					<p><input name="ApiId" type="hidden" value="<%= apiTable.ApiId %>"/></p>
					<p>
						<table class="table">
							<thead>
								<tr>
									<% fieldNames.forEach(fieldName => { %>
										<th><%= fieldName %></th>
									<% }) %>
								</tr>
							</thead>
							<tbody>
								<tr>
									<% fieldNames.forEach(fieldName => { %>
										<td><input class="form-control" name="fieldName<%= fieldNameDelimiter %><%= fieldName %>" type="text" placeholder="<% fieldName %>"/></td>
									<% }) %>
								</tr>
							</tbody>
						</table>
					</p>
					<p><button class="form-control btn btn-primary" type="submit">Submit</button></p>
				</form>
			</div>
			<div class="modal-footer"></div>
		</div>
	</div>
</div>
