<div class="container">
	<div class="jumbotron">
		<h2>
			<span data-toggle="tooltip" title="Click to rename">
				<a data-keyboard="true" data-toggle="modal" data-target="#rename-api-modal" href="#"><%= api.name %></a>
			</span>
		</h2><hr>

		<div class="btn-group" role="group" style="margin-bottom: 10px;">
			<button type="button" class="btn-info btn-sm" data-keyboard="true" data-toggle="modal" data-target="#add-method-modal">Add New API Method</button>
			<button type="button" class="btn-info btn-sm" data-keyboard="true" data-toggle="modal" data-target="#add-api-table-modal">Add New API Table</button>
		</div>

		<% if (methodList.length > 0) { %>
			<h3>API Methods</h3>
			<table class="table table-striped table-bordered table-hover">
				<thead>
					<tr>
						<th class="col-md-2">Method Name</th>
						<th class="col-md-2">Response Type</th>
						<th class="col-md-9">Response</th>
					</tr>
				</thead>
				<tbody>
					<% for(var i = 0; i < methodList.length; i++) { %>
						<tr class="clickMethod" data-action="/api/editMethod" data-apiid="<%= api.id %>" data-methodid="<%= methodList[i].id %>">
							<th scope="row"><%= methodList[i].name %></th>
							<td><%= constants.METHOD_RESPONSE_TYPE.getName( methodList[i].responseType ) %>
							<td><%= methodList[i].response %></td>
						</tr>
					<% } %>
				</tbody>
			</table>
		<% } else { %>
			<hr>
			This API doesn't have any methods. Click [Add New API Method] to create one!
		<% } %>

		<% if (apiTableList.length > 0) { %>
			<h3>API Tables:</h3>
			<table class="table table-striped table-bordered table-hover">
				<thead>
					<tr>
						<th class="col-md-2">API Table Name</th>
					</tr>
				</thead>
				<tbody>
					<% for(var i = 0; i < apiTableList.length; i++) { %>
						<tr class="clickApiTable" data-action="/api/editApiTable" data-apiid="<%= api.id %>" data-apitableid="<%= apiTableList[i].id %>">
							<th scope="row"><%= apiTableList[i].name %></th>
						</tr>
					<% } %>
				</tbody>
			</table>
		<% } else { %>
			<hr>
			This API doesn't have any tables. Click [Add New API Table] to create one!
		<% } %>
	</div>
</div>
<% include add_method_modal %>
<% include add_api_table_modal %>
<% include rename_api_modal %>
