<div class="container">
	<div class="jumbotron">
		<h2>
			<span data-toggle="tooltip" title="Click to rename">
				<a data-keyboard="true" data-toggle="modal" data-target="#rename-api-table-modal" href="#"><%= apiTable.name %></a>
			</span>
		</h2><hr>

		<div class="btn-group" role="group" style="margin-bottom: 10px;">
			<button type="button" class="btn-info btn-sm" data-keyboard="true" data-toggle="modal" data-target="#add-api-table-field-modal">Add New Field</button>
			<button type="button" class="btn-info btn-sm" data-keyboard="true" data-toggle="modal" data-target="#add-api-table-record-modal">Add New Record</button>
			<!-- <button type="button" class="btn-info btn-sm" data-keyboard="true" data-toggle="modal" data-target="#add-api-table-modal">Add New API Table</button> -->
		</div>

		<form method="post" action="/api/updateApiTable">
			<input name="apiId" type="hidden" value="<%= apiTable.ApiId %>"/>
			<input name="apiTableId" type="hidden" value="<%= apiTable.id %>"/>

			<table class="table table-striped table-bordered table-hover" id="apiTableRecords">
				<thead>
					<tr>
						<% fieldNames.forEach(fieldName => { %>
							<th><%= fieldName %></th>
						<% }) %>
					</tr>
				</thead>
				<tbody>
					<% records.forEach(record => { %>
						<tr>
							<% fieldNames.forEach(fieldName => { %>
								<td><input name="<%= fieldName + fieldNameDelimiter + record.id %>" type="text" value="<%= record.data[fieldName] %>"/></td>
							<% }) %>
						</tr>
					<% }) %>
				</tbody>
			</table>

			<p><button class="form-control btn btn-info" type="submit">Update API Table</button></p>
		</form>
	</div>
</div>
<% include rename_api_table_modal %>
<% include add_api_table_field_modal %>
<% include add_api_table_record_modal %>
